[Desktop Entry]
Version=1.0
Type=Application
Exec=exo-open --launch WebBrowser %u
Icon=org.xfce.webbrowser
StartupNotify=true
Terminal=false
Categories=Network;X-XFCE;X-Xfce-Toplevel;
Keywords[fr]=internet;web;browser;surf;explore;xfce;navigateur;exploreur;
Keywords=internet;web;browser;surf;explore;xfce;
OnlyShowIn=XFCE;
X-XFCE-MimeType=x-scheme-handler/http;x-scheme-handler/https;
X-AppStream-Ignore=True
Name[fr]=Navigateur Web
Name=Web Browser
Comment[fr]=Naviguer sur le Web
Comment=Browse the web
X-XFCE-Source=file:///usr/share/applications/xfce4-web-browser.desktop
